body {
    margin:0;
    padding:0;
}
.gridcontainer {
    height: 1500px;
    background-color:cornflowerblue;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 100px 3fr 1fr;
    gap: 0.1rem;
    color: white;
    grid-template-areas:
    "sidebar navbar image"
    "sidebar hero hero"
    "links links links";
}
.dark .gridcontainer {
    background-color:rgb(19, 4, 53);
    color:antiquewhite;
}
.image {
    grid-area:image;
}
.image img {
    height:100px;
    width:auto;
    object-fit: cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items:center;
    grid-area: navbar;
    background-color: aquamarine;
    color:black;
}
.navbar #Darkmode
{
    background-color:white;
    border-radius: 50%;
    height:30px;
}
.dark .navbar {
    background-color: black;
    color:aquamarine;
}
.sidebar {
    grid-area: sidebar;
    background-color: rgb(0, 51, 103);
}
.dark .sidebar {
    grid-area: sidebar;
    background-color: rgb(3, 44, 94);
    color:aliceblue;
}
.hero {
    grid-area: hero;
    background-color: aliceblue;
    color:black;
    background-image: url('bird.jpg');
    background-size: cover;
    background-position: center;
}
.dark .hero {
    background-color: rgb(18, 87, 148);
    color:beige;
    background-image:url('dark.jpg');
}
.links {
    grid-area: links;
    background-color: black;
    color: white;
}
.dark .links {
    background-color: rgb(3, 11, 108);
    color: white;
}
.links a {
    color:white;
}